<!DOCTYPE html>

<title>Edit TourGuide</title>

{% block body %}
    <h1>Edit TourGuide</h1>

    {{ include('tour_guide/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_tour_guide_index') }}">back to list</a>

    {{ include('tour_guide/_delete_form.html.twig') }}
{% endblock %}
