<!DOCTYPE html>

<title>New Tourist</title>

{% block body %}
    <h1>Create new Tourist</h1>

    {{ include('tourist/_form.html.twig') }}

    <a href="{{ path('app_tourist_index') }}">back to list</a>
{% endblock %}
